# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual envs
.venv/
venv/
env/

# OS junk
.DS_Store
Thumbs.db

# PyCharm
.idea/

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/


words_to_learn.csv
words_learned.csv


